/* Ensure no margins or padding for html and body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #000;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 5px solid #fff;
    background-color: #1c1c1c;
    display: block;
}

#scoreBoard {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#difficultySelect {
    margin-top: 20px;
    color: white;
}

select {
    padding: 8px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

select:hover {
    background-color: #555;
}
